.modal{
  background-color: rgb(226, 217, 217);
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.heading {

  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 10px;
  font-weight: bold;
}
.heading span {
  flex: 1;
  text-align: center;
}

.total {


  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.total h5 {
  font-weight: bold;
  font-family:monospace;
  margin-left: 2rem;
  font-size: 20px;
  padding-right: 1rem;
}

.total span{
  margin-left: 18rem;
  font-weight: 600;
  font-size: 20px;
  font-family: monospace;
}


.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}