.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -5%;
    padding: 0.5rem;
    border-bottom: 2px solid gray;
  }

  .list img {
    height: 90px;
    width: 90px;
    padding: 0.25rem;
  }
  
  .list input {
    width: 10%;
    margin-left: 4rem;
    text-align: center;
  }